<!DOCTYPE html>
<html lang="en">
<head>
  <title>COMMS DISABLED</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
  <link href="{{ url_for('static', filename='css/eugene.css') }}" rel="stylesheet" media="screen">
</head>
<body>
  <div id="comms-name-form" class="container">
    <h1>COMMS</h1>

    <form class="form-search pull-right" action="#">
      <label>ENTER SHIP NAME:</label>
      <input id="ship-name-input" type="text" class="input-medium" placeholder="SHIP NAME">
      <button id="enable-comms" class="btn">ENABLE COMMS</button>
    </form>
  </div>

  <div id="comms-display" class="container hidden">
    <h1 id="ship-name"></h1>

    <button id="disable-comms" class="btn pull-right">DISABLE COMMS</button>

    <form action="#" class="form-horizontal">
      <input type="text" class="input-xxlarge" id="message-input" placeholder="SHIP: MESSAGE">
      <button id="send-message" class="btn">SEND</button>
    </form>

    <div>
      <b>ONLINE:</b> <span id="online"></span>
    </div>

    <div class="well console">
      <table id="message-table" class="table">
        <tbody>
          <tr><td class="cell-time"></td><td class="cell-from"></td><td class="cell-msg"></td></tr>
        </tbody>
      </table>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/eugene.js') }}"></script>
</body>
</html>
